<form action="/doctors" method="POST">
  <input type="text" name="name" placeholder="Name" >
  <input type="text" name="specialization" placeholder="Specialty">
  <input type="number" name="experience" placeholder="Years Experience">
  <input type="text" name="img_url" placeholder="image URL">

  <input type="submit" value="CREATE Doctor">
</form>